<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <img id="modal-image" class="img-fluid" src="" alt="enlarged photo">
            </div>
        </div>
    </div>
</div>