---
layout: default
title: Home
---

<section class="text-center my-5">
    <h1 class="display-4">{{ site.title }}</h1>
    <p class="lead">{{ site.data.site_info.tagline }}</p>
</section>

<section class="mb-5 text-center">
    <h2>Focusing dreams, capturing life</h2>
    <p>Hello! I'm {{ site.data.site_info.author }}, a passionate photographer based in Mexico City. With a keen eye for
        capturing special moments, I specialize in nature and portrait photography. Join me as I share my journey and
        the stories behind each photo.</p>
    <a href="{{ '/about' | relative_url }}" class="btn btn-outline-light rounded-pill">Learn More</a>
</section>

<h2 class="text-center my-5">Check out my gallery:</h2>

<!-- Category Filter Dropdown -->
<div class="text-center mb-4">
    <label for="categoryFilter" class="form-label">Filter by Category:</label>
    <select id="categoryFilter" class="form-select d-inline-block w-auto">
        <option value="all" selected>All</option>
        <option value="portraits">Portraits</option>
        <option value="nature">Nature</option>
        <option value="concert">Concert</option>
        <option value="product">Product</option>
    </select>
</div>

<!-- Added "home-carousel" class for targeted styling if needed -->
<div class="carousel-wrapper home-carousel position-relative">
    <div id="featured-photos" class="horizontal-scroll"></div>
</div>

<div class="text-center my-5 p-10">
    <a href="{{ '/gallery' | relative_url }}" class="btn btn-outline-light rounded-pill">View Gallery</a>
</div>
